certifi==2019.11.28
click==6.7
Flask==0.12.2
Flask-Cors==3.0.8
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
mpmath==1.1.0
pipenv==2018.11.26
psycopg2-binary==2.7.4
simplejson==3.14.0
six==1.14.0
SQLAlchemy==1.2.7
sympy==1.4
virtualenv==16.7.9
virtualenv-clone==0.5.3
Werkzeug==0.14.1
